{{date-icon date=date}}
<div class="time-slots-container">
  {{time-selector isVisible=timeSelectorVisible}}
  {{time-slot-link isVisible=timeSlotsLinkVisible
                   click="displayTimeSelector"}}
</div>