{{date-icon class="date-icon-for-start"
            month=date.startMonth
            dayOfWeek=date.startDayOfWeek
            dayOfMonth=date.startDayOfMonth}}
<div class="time-slots-container">
  {{#each date.times as |time|}}
    {{time-selector time=time}}
  {{/each}}
  {{time-slot-link isVisible=timeSlotsLinkVisible
                   click="clickAddTimeSlot"}}
</div>

{{#if showEndDateIcon}}
  {{date-icon class="date-icon-for-end"
              month=date.endMonth
              dayOfWeek=date.endDayOfWeek
              dayOfMonth=date.endDayOfMonth}}
{{/if}}