<tr class="table-row-poll-header">
  {{#each sortedDates as |date|}}
    {{date-icon month=date.startMonth
                dayOfMonth=date.startDayOfMonth
                dayOfWeek=date.startDayOfWeek}}

  {{/each}}
  <td></td>
</tr>

{{poll-table-previous-votes user=user
                            sortedDates=sortedDates}}

{{poll-table-user-vote user=user
                       sortedDates=sortedDates
                       createNewVoter="createNewVoter"}}

{{save-voter-button save="save"}}