<tr class="table-row-poll-header">
  {{#each sortedDates as |date|}}
    {{date-icon month=date.startMonth
                dayOfMonth=date.startDayOfMonth
                dayOfWeek=date.startDayOfWeek}}

  {{/each}}
  <td></td>
</tr>

{{#each previousVoters as |previousVoter|}}
  {{poll-table-previous-votes sortedDates=sortedDates
                              voter=previousVoter}}
{{/each}}

{{poll-table-user-vote voter=voter
                       sortedDates=sortedDates
                       createNewVoter="createNewVoter"}}

{{save-voter-button save="save"}}