<tr class="table-row-poll-header">
  {{#each sortedDates as |date|}}
    {{date-icon month=date.startMonth
                dayOfMonth=date.startDayOfMonth
                dayOfWeek=date.startDayOfWeek}}

  {{/each}}
  <td></td>
</tr>

<tr class="table-row-previous-votes">
  {{#each sortedDates as |date|}}
    <p> previous user's vote </p>
  {{/each}}
</tr>

{{poll-table-user-vote voter=voter
                       sortedDates=sortedDates
                       createNewVoter="createNewVoter"}}

{{save-voter-button save="save"}}