{{#each sortedDates as |date|}}
  {{vote-box yesVote=yesVote
             user=user
             date=date
             click="vote"}}
{{/each}}

<td>
  {{input class="voter-name-input"
          placeholder="Your Name"
          insert-newline="enterInInput"}}
</td>