.date-selection {
  align-items: center;
  display: flex;
}

.create-time-slot-link {
  cursor: pointer;
  font-family: $full-calendar-font;
  font-size: 24px;
  margin: 10px 0px;
  margin-left: 20px;
}

.create-time-slot-link:hover {
  text-decoration: underline;
}

.time-slots-container {
  align-items: flex-start;
  display: flex;
  height: 120px;
  margin-left: 30px;
}