.date-icon {
  border: 2px solid hsl(0, 0%, 90%);
  border-radius: 5px;
  text-align: center;
  width: 90px;
}

.date-icon:not(:last-child) {
  margin-bottom: 15px;
}

.date-icon-month {
  background-color: red;
  color: hsl(0, 0%, 96%);
  font-family: $full-calendar-font;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px;
}

.date-icon-month-day {
  color: hsl(0, 0%, 30%);
  font-family: $full-calendar-font;
  font-size: 30px;
  font-weight: bold;
  padding: 8px;
}

.date-icon-week-day {
  border-top: 1px solid hsl(0, 0%, 90%);
  color: hsl(0, 0%, 60%);
  font-family: $full-calendar-font;
  font-size: 18px;
  font-weight: 500;
  left: calc(50% - 30px);
  letter-spacing: 1px;
  padding: 4px 0px;
  position: relative;
  width: 60px;
}