.create-dates-full-calendar {
  width: 650px;
}

//////////////
//          //
//  Header  //
//          //
//////////////

.fc-center {
  font-family: $full-calendar-font;
  font-size: 30px;
}

.fc-toolbar .fc-button {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-family: Signika, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  outline: none;
  padding: 0;
}

.fc-row .fc-content-skeleton {
  padding: 0px;
}

//////////////
//          //
//   Days   //
//          //
//////////////

.fc-ltr .fc-basic-view .fc-day-number {
  font-family: $full-calendar-font;
  font-size: 24px;
  padding: 24px 30px;
  text-align: center;
}

.fc-ltr .fc-basic-view .fc-day-number:hover {
  background-color: red;
}

.fc-day-header.fc-widget-header {
  font-family: $full-calendar-font;
  font-size: 20px;
  padding: 10px;
}

.fc-widget-content.fc-day:hover {
  background-color: red;
}


