.time-selector {
  display: flex;
}

.start-time-container,
.end-time-container {
  display: flex;
  flex-direction: column;
  width: 110px;
}

.start-time-container {
  margin-right: 20px;
}

.end-time-container {
  margin-left: 20px;
}

.start-to-end-label {
  font-family: $full-calendar-font;
  font-size: 24px;
  letter-spacing: 1px;
  position: relative;
  top: 12px;
}

///////////////////
//               //
//  Time Inputs  //
//               //
///////////////////

.start-time-input,
.end-time-input {
  height: 40px;
}