.time-selector {
  align-items: flex-start;
  display: flex;
  margin-bottom: 20px;
}

.start-time-container,
.end-time-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 110px;
}

.start-time-container {
  margin-right: 20px;
}

.end-time-container {
  margin-left: 20px;
}

.start-to-end-label {
  font-family: $full-calendar-font;
  font-size: 24px;
  letter-spacing: 1px;
  position: relative;
  top: 15px;
}

///////////////////
//               //
//  Time Inputs  //
//               //
///////////////////

.start-time-input,
.end-time-input {
  height: 40px;
}

/////////////////////
//                 //
//  Delete Button  //
//                 //
/////////////////////

.delete-time-button {
  cursor: pointer;
  font-size: 30px;
  margin-left: 20px;
  position: relative;
  top: 15px;
}