// ADOBE COLOR SCHEMES
// hipster haven
$hipster-purple: hsla(344, 24.5%, 21%, 1);
$hipster-green: hsla(144, 21.4%, 55%, 1);
$hipster-tan: hsla(45, 33.3%, 76%, 1);
$hipster-peach: hsla(22, 59.3%, 66%, 1);
$hipster-salmon: hsla(5, 60.2%, 60%, 1);

// woman in purple dress
$woman-sand: hsla(43, 86.4%, 83%, 1);
$woman-pink: hsla(18, 60.9%, 75%, 1);
$woman-magenta: hsla(354, 57.1%, 53.3%, 1);
$woman-purple: hsla(340, 39.9%, 32%, 1);
$woman-dark-purple: hsla(313, 40%, 13.7%, 1);
