<div class="create-dates">
  {{full-calendar dateSelected="storeSelectedDate"}}
  {{create-submit-button submit="submitDates"}}
</div>

<div class="selected-date-tags-container">
  {{#each sortedDates as |date|}}
    {{selected-date-tag date=date}}
  {{/each}}
</div>
