<div class="create-dates">
  {{full-calendar selectDates="createNewDateRecord"
                  dates=sortedDates
                  eventList=events}}
</div>

<div class="selected-dates-container">
  {{#each sortedDates as |date|}}
    {{date-selection date=date
                     createNewTimeSlot="createNewTimeRecord"}}
  {{/each}}
</div>

{{create-submit-button submit="saveEvent"}}
