<div class="create-dates">
  {{full-calendar dateSelected="storeSelectedDate"}}
  {{create-submit-button submit="submitDates"}}
</div>

<div class="selected-dates-container">
  {{#each sortedDates as |date|}}
    {{date-selection date=date
                     createNewTimeSlot="createNewTimeRecord"}}
  {{/each}}
</div>
