<div class="create-dates">
  <p class="create-dates-title">Select your dates:</p>
  <p>[show calendar]</p>
  <button class="today-button">Today</button>
  {{create-submit-button submit="submitDates"}}
</div>