<div class="create-details">
  <p class="input-label">Name</p>
  <input class="details-input details-input-name" placeholder="name" />
  <p class="input-label">Email</p>
  <input class="details-input details-input-email" placeholder="email" />
  <p class="input-label">Event Title</p>
  <input class="details-input details-input-title" placeholder="title" />
  <p class="input-label">Event Description</p>
  <input class="details-input details-input-description" placeholder="description" />
  {{create-submit-button submit="submitDetails"}}
</div>